<section class="lp-section" id="landingpage">
    <div class="social-lang-container">
        <div class="social-media-container">
            <a class="github cp" href="https://github.com/Bobi-DA" target="_blank"></a>
            <a class="linkedin cp" href="https://de.linkedin.com/in/boban-jakovljevic-092314177?trk=people-guest_people_search-card" target="_blank"></a>
            <a class="email cp" href="mailto:info@boban-jakovljevic.de"></a>
        </div>
        <div class="fs-18 ml-40 fc-fffdfd">
            <span (click)="switchLanguage('de')" class="cp txt-hover">DE</span>
            <span> | </span>
            <span (click)="switchLanguage('en')" class="cp txt-hover">EN</span>
        </div>
    </div>

    <div class="img-name-arrow-container">
        <div class="img-name-container">
            <img class="profil-image" src="../../../assets/img/profilbild2.png" alt="">
            <div class="name-dev-container">
                <div class="responsive-local d-none">Frankfurt am Main</div>
                <h1 class="name-subname-txt">Boban Jakovljevic</h1>
                <h3 class="dev-txt">{{ 'ROLE' | translate }}</h3>
            </div>
        </div>
        <div  class="arrow">
            <img (click)="scrollTo()" class="cp slide-left" src="../../../assets/img/arrow_right.svg" alt="">
        </div>
    </div>
</section>