<section class="lp-section" id="landingpage">
    <div class="social-lang-container">
        <div class="social-media-container">
            <div class="github cp"></div>
            <div class="linkedin cp"></div>
            <div class="email cp"></div>
        </div>
        <img class="language-icon ml-40 cp" src="../../../assets/img/lang_btn_white.png" alt="">
    </div>

    <div class="img-name-arrow-container">
        <div class="img-name-container">
            <img class="profil-image" src="../../../assets/img/profilbild.png" alt="">
            <div class="name-dev-container">
                <h1 class="name-subname-txt">Boban Jakovljevic</h1>
                <h3 class="dev-txt">Frontend Developer</h3>
            </div>
        </div>
        <div class="arrow">
            <a href="#whyMe"><img src="../../../assets/img/arrow_right.svg" alt=""></a>
        </div>
    </div>
</section>