<section class="lp-section" id="landingpage">
    <div class="social-lang-container">
        <div>
            <img class="git-icon mr-16 cp" src="../../../assets/img/git_btn_white.png" alt="">
            <img class="linkedin-icon mr-16 cp" src="../../../assets/img/linkedin_btn_white.png" alt="">
            <img class="email-icon mr-16 cp" src="../../../assets/img/email_btn_white.png" alt="">
        </div>
        <img class="language-icon ml-40 cp" src="../../../assets/img/lang_btn_white.png" alt="">

    </div>
    <div class="img-name-arrow-container">
        <div class="img-name-container">
            <img src="../../../assets/img/profilbild.png" alt="">
            <div class="name-dev-container">
                <h1 class="name-subname-txt">Boban Jakovljevic</h1>
                <h3 class="dev-txt">Frontend Developer</h3>
            </div>
        </div>
        <div class="arrow">
            <a href="#whyMe"><img src="../../../assets/img/arrow_right.svg" alt=""></a>
        </div>
    </div>

</section>