<section id="skills">
    <div class="skill-container">
        <div class="skill-title">
            <h2>{{"MYSKILLSET" | translate }}</h2>
        </div>
        <div #animatedSection  class="skill-txt-container">
            <div class="txt-white">{{"INTRODUCTIONSKILLS" | translate }}
            </div>
            <div class="skill-icon-container">
                <img src="../../../assets/img/skills/angular_icon.svg" alt="">
                <img src="../../../assets/img/skills/typescript_icon.svg" alt="">
                <img src="../../../assets/img/skills/js_icon.svg" alt="">
                <img src="../../../assets/img/skills/html_icon.svg" alt="">
                <img src="../../../assets/img/skills/css_icon.svg" alt="">
                <img src="../../../assets/img/skills/rest-api_icon.svg" alt="">
                <img src="../../../assets/img/skills/firebase_icon.svg" alt="">
                <img src="../../../assets/img/skills/git_icon.svg" alt="">
                <img src="../../../assets/img/skills/scrum_icon.svg" alt="">
                <img src="../../../assets/img/skills/material-design_icon.svg" alt="">
                <img src="../../../assets/img/skills/challenge-me_icon.svg" alt="">
                <span class="motivation-txt fc-fffdfd">{{"MOTIVATION" | translate }} </span>
            </div>
            <div class="btn-letstalk-container">
                <a href="#contact"><button class="btn-live-test">Let's talk</button></a>
            </div>
        </div>
    </div>
    <div class="skill-arrow">
        <img (click)="scrollTo()" class="cp slide-left" src="../../../assets/img/arrow_right.svg" alt="">
    </div>
</section>