<section id="skills">
    <div class="skill-container">
        <div class="skill-title">
            <h2>Meine Skills</h2>
        </div>
        <div class="skill-txt-container">
            <div class="txt-white">A short introduction of your skills. Highlight your experience of working on
                different projects
                using different front-end technologies and emphasise your openness to learning and adapting to new
                technologies.
            </div>
            <div class="skill-icon-container">
                <img src="../../../assets/img/angular_icon.svg" alt="">
                <img src="../../../assets/img/typescript_icon.svg" alt="">
                <img src="../../../assets/img/js_icon.svg" alt="">
                <img src="../../../assets/img/html_icon.svg" alt="">
                <img src="../../../assets/img/css_icon.svg" alt="">
                <img src="../../../assets/img/rest-api_icon.svg" alt="">
                <img src="../../../assets/img/firebase_icon.svg" alt="">
                <img src="../../../assets/img/git_icon.svg" alt="">
                <img src="../../../assets/img/scrum_icon.svg" alt="">
                <img src="../../../assets/img/material-design_icon.svg" alt="">
                <img src="../../../assets/img/challenge-me_icon.svg" alt="">
            </div>
        </div>
    </div>
    <div class="skill-arrow">
        <a href="#myWork"><img src="../../../assets/img/arrow_right.svg" alt=""></a>
    </div>
</section>