section {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 12rem;
    // scroll-snap-align: start;
}

.my-work-title {
    display: flex;
    >h2 {
        font-size: 3.5rem;
        width: max-content;
        color: transparent;
        -webkit-text-stroke: 2px #a5ff00;
        writing-mode: sideways-lr;
        margin-right: 25px;
    }
}

.my-work-container {
    display: flex;
}

.my-work-bg {
    width: 57rem;
    background-color: #424C29;
    height: 35rem;
    border-radius: 30px;
    background: linear-gradient(0.25turn, #333D1A, #414C29);
    padding: 0 2em;
    margin-right: 40px;
}

.title-project {
    display: flex;
    align-items: center;
}

.title-project h1 {
    margin: 0 1rem;
    font-size: 6.5rem;
    width: max-content;
    color: transparent;
    -webkit-text-stroke: 1px #a5ff00;
}

.about-tech-img-container {
    display: flex;
}

.over-project-txt {
    margin-top: 0;
}

.ul-my-work {
    color: #FFFDFD;
    margin-top: 0;
    list-style-type: circle;
    margin: 0 54px 0 28px;
}

.h2-my-work {
    color: #B5E93B;
    font-family: 'Quantico';
    font-size: 3em;
    font-weight: 400;
}

h4 {
    margin-top: 0;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.6rem;
}

button {
    width: 106px;
    height: 43px;
    border-radius: 30px;
    border: 1px solid #B5E93B;
    font-weight: 400;
    font-family: 'Quantico';

}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.screenshot-join {
    margin: 0 16px 20px 0;
    filter: grayscale(90%);
}

li::marker {
    content: url("../../../assets/img/ellipse.svg");
    font-size: 1.2em;
}

p {
    font-size: 1rem;
    margin-left: 1.4rem;
}


.screenshot-join:hover {
    filter: none;
}

.my-work-arrow {
    height: 72%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 6rem;
}

.my-work-arrow_2 {
    height: 72%;
    display: flex;
    margin: 0 6rem;
    align-items: center;
}

.btn-github {
    background-color: transparent;
    color: #B5E93B;
}

.btn-github:hover {
    border: 1px solid #D3ED97;
    background-color: #B5E93B33;
    color: #FFFDFD;
}

.btn-live-test {
    background-color: #B5E93B;
    color: #252525;
}

.btn-live-test:hover {
    background: linear-gradient(0.49turn, #B5E93B 64%, #547800);
    color: #252525;
}

.ongoing-txt {
    color: #FFFDFD;
    font-size: 18px;
    font-weight: 400;
}

.ongoing-txt-btn-container {
    width: 345px;

    >div {

        display: flex;
        align-items: center;

        >h3 {
            font-size: 3rem;
            // width: max-content;
            color: transparent;
            -webkit-text-stroke: 1px #a5ff00;
            // writing-mode: sideways-lr;
            margin: 0;
        }

        >h4 {
            margin-bottom: 0;
            font-family: 'Quantico';
            font-size: 30px;
            font-weight: 400;
            color: #B5E93B;
        }
    }

    >p {
        margin: 0;
    }

    >.btn-letstalk-container {
        justify-content: center;
        margin-top: 1.5rem;
    }
}

.title-references-container {
    display: flex;
    width: -webkit-fill-available;
}

.references-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.ref-container {
    padding: 0 19px;
    display: flex;
    align-items: center;
    width: 478px;
    height: 11.5rem;
    border-radius: 30px;
    border: 1px solid #D3ED97;
    text-align: center;

    >.ref-txt {
        color: #FFFDFD;
        font-size: 18px;
        font-weight: 400;
    }

    >.middle-line {
        border: 1px solid #D3ED97;
        height: 113px;
        width: 0;
        margin: 19px;
    }

    >.collegue-container {
        display: flex;
        flex-direction: column;

        >.name-collegue {
            color: #B5E93B;
            font-size: 24px;
            font-weight: 400;
            margin: 0;
            white-space: nowrap
        }

        >.name-project {
            color: #D3ED97;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.project-layout {
    display: flex;
    align-items: center;
}



@media (min-width:1024px) {
    .ongoing-txt-btn-container {
        >.need-a-teamplayer-txt-responsive {
            display: none;

        }
    }

    .show-more-btn {
        display: none;
    }
}

@media (max-width:1024px) {
    .my-work-container {
        display: block;
    }

    section {
        padding: 0px 24px;
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-bottom: 8em;
        scroll-margin-top: 9vh;
    }

    .my-work-title {
        >h2 {
            writing-mode: horizontal-tb;
            margin: 40px 46px;
        }
    }

    .my-work-arrow,
    .my-work-arrow_2 {
        display: none;
    }

    .project-layout {
        flex-direction: column;
        gap: 16px;
    }

    .title-references-container {
        flex-direction: row;
        align-items: normal;
        scrollbar-width: none;
        overflow-x: scroll;

        >.my-work-title {
            display: none;

            >h2 {
                writing-mode: horizontal-tb;
                margin: 40px 46px;
            }
        }
    }

    .references-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .ongoing-txt-btn-container {
        width: 100%;
        margin-top: 4em;

        >.btn-letstalk-container {
            display: none;
        }

    }

    .ongoing-txt-btn-container {
        >.need-a-teamplayer-txt-responsive {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 5rem 0 2rem 0;

            h4 {
                margin-left: 0;
            }
        }
    }

}