<section id="myWork">
    <div class="my-work-container">
        <div class="my-work-title">
            <h2>{{"MENUPROJECT" |translate}} </h2>
        </div>

        <app-project-layout class="project-layout"></app-project-layout>

        <div class="ongoing-txt-btn-container">
            <div>
                <h3 class="num-four">4</h3>
                <h4>{{"ONGOINGPROJECT" | translate}}</h4>
            </div>
            <p class="ongoing-txt">{{"ONGOINGTEXT" | translate}}</p>
            <div class="btn-letstalk-container">
                <a href="#contact"><button class="btn-live-test">{{"LETSTALK" | translate}}</button></a>
            </div>
            <div class="need-a-teamplayer-txt-responsive">
                <h4>
                    {{"NEEDATEAMPLAYER" | translate}}
                </h4>
                <h2 class="fc-fffdfd">
                    {{"WHATCOLLEAGUESSAID" | translate}}
                </h2>
            </div>
        </div>
    </div>

    <div class="my-work-arrow">
        <img (click)="scrollTo()" class="cp slide-left" src="../../../assets/img/arrow_right.svg" alt="">
    </div>

    <div class="title-references-container">
        <div class="my-work-title">
            <h2>{{"REFERENCE" | translate}}</h2>
        </div>
        <div class="references-container scroll-snap-x" #scrollContainer>
            <div class="ref-container" #refItem (click)="currentDot(1)">
                <div class="ref-txt">
                    {{"REFERENCE_1" | translate}}
                </div>
                <div class="middle-line"></div>
                <div class="collegue-container">
                    <h4 class="name-collegue">Toni Kleinf.</h4>
                    <span class="name-project">Project Join</span>
                </div>
            </div>

            <div class="ref-container" #refItem (click)="currentDot(2)">
                <div class="ref-txt">
                    {{"REFERENCE_2" | translate}}
                </div>
                <div class="middle-line"></div>
                <div class="collegue-container">
                    <h4 class="name-collegue">Bojan I.</h4>
                    <span class="name-project">Programmierkumpel</span>
                </div>
            </div>

            <div class="ref-container" #refItem (click)="currentDot(3)">
                <div class="ref-txt">
                    {{"REFERENCE_3" | translate}}

                </div>
                <div class="middle-line"></div>
                <div class="collegue-container">
                    <h4 class="name-collegue">Tobi M.</h4>
                    <span class="name-project">Programmierkumpel</span>
                </div>
            </div>
        </div>
    </div>

    <!-- dots -->
    <div class="dots-container-resp" style="text-align:center">
        <span #dot class="dot active" (click)="currentSlide(1)"></span>
        <span #dot class="dot" (click)="currentSlide(2)"></span>
        <span #dot class="dot" (click)="currentSlide(3)"></span>
    </div>

    <div class="my-work-arrow_2">
        <img (click)="scrollTo()" class="cp slide-left" src="../../../assets/img/arrow_right.svg" alt="">
    </div>

</section>