<section id="myWork">
    <div class="my-work-container">
        <div class="my-work-title">
            <h2>Projekte</h2>
        </div>
        <div class="my-work-bg">
            <div class="title-project">
                <h1>1</h1>
                <h2 class="h2-my-work">Project Join</h2>
            </div>
            <div class="about-tech-img-container">
                <div>
                    <ul class="ul-my-work">
                        <li>
                            <h4 class="over-project-txt">Über das Projekt</h4>
                        </li>
                        <p>Aufgabenmanager nach dem Vorbild des Kanban-Systems. Erstellen und organisieren Sie
                            Aufgaben mit Hilfe von Drag-and-Drop-Funktionen, weisen Sie Benutzer und Kategorien zu.
                        </p>
                        <li>
                            <h4>Von mir verwendete Technologien</h4>
                        </li>
                        <p>
                            JavaScript, Firebase, Html, CSS
                        </p>
                    </ul>
                </div>
                <div>
                    <img class="screenshot-join" src="../../../assets/img/screenshot_join.svg" alt="">
                    <div class="btn-container">
                        <button class="btn-github cp">GitHub</button>
                        <button class="btn-live-test cp">Live Test</button>
                    </div>
                </div>
            </div>
            <div>
                <ul class="ul-my-work">
                    <li>
                        <h4>Was habe ich gelernt</h4>
                    </li>
                    <p>
                        OR my group-projects experience
                        pretium arcu sed senectus felis ac mauris. Dui eget dictum.Lorem ipsum dolor sit amet
                        consectetur. Posuere pretium arcu sed senectus felis ac mauris.
                    </p>
                </ul>
            </div>
        </div>

        <!--2nd project-->
        <div class="my-work-bg">
            <div class="title-project">
                <h1>2</h1>
                <h2 class="h2-my-work">Project El Pollo Loco</h2>
            </div>
            <div class="about-tech-img-container">
                <div>
                    <ul class="ul-my-work">
                        <li>
                            <h4 class="over-project-txt">Über das Projekt</h4>
                        </li>
                        <p>Aufgabenmanager nach dem Vorbild des Kanban-Systems. Erstellen und organisieren Sie
                            Aufgaben mit Hilfe von Drag-and-Drop-Funktionen, weisen Sie Benutzer und Kategorien zu.
                        </p>
                        <li>
                            <h4>Von mir verwendete Technologien</h4>
                        </li>
                        <p>
                            JavaScript, Html, CSS
                        </p>
                    </ul>
                </div>
                <div>
                    <img class="screenshot-join" src="../../../assets/img/screenshot_loco.svg" alt="">
                    <div class="btn-container">
                        <button class="btn-github cp">GitHub</button>
                        <button class="btn-live-test cp">Live Test</button>
                    </div>
                </div>
            </div>
            <div>
                <ul class="ul-my-work">
                    <li>
                        <h4>Was habe ich gelernt</h4>
                    </li>
                    <p>
                        OR my group-projects experience
                        pretium arcu sed senectus felis ac mauris. Dui eget dictum.Lorem ipsum dolor sit amet
                        consectetur. Posuere pretium arcu sed senectus felis ac mauris.
                    </p>
                </ul>
            </div>
        </div>

        <!-- 3rd project -->
        <div class="my-work-bg">
            <div class="title-project">
                <h1>3</h1>
                <h2 class="h2-my-work">Project Join</h2>
            </div>
            <div class="about-tech-img-container">
                <div>
                    <ul class="ul-my-work">
                        <li>
                            <h4 class="over-project-txt">Über das Projekt</h4>
                        </li>
                        <p>Aufgabenmanager nach dem Vorbild des Kanban-Systems. Erstellen und organisieren Sie
                            Aufgaben mit Hilfe von Drag-and-Drop-Funktionen, weisen Sie Benutzer und Kategorien zu.
                        </p>
                        <li>
                            <h4>Von mir verwendete Technologien</h4>
                        </li>
                        <p>
                            JavaScript, Firebase, Html, CSS
                        </p>
                    </ul>
                </div>
                <div>
                    <img class="screenshot-join" src="../../../assets/img/screenshot_join.svg" alt="">
                    <div class="btn-container">
                        <button class="btn-github cp">GitHub</button>
                        <button class="btn-live-test cp">Live Test</button>
                    </div>
                </div>
            </div>
            <div>
                <ul class="ul-my-work">
                    <li>
                        <h4>Was habe ich gelernt</h4>
                    </li>
                    <p>
                        OR my group-projects experience
                        pretium arcu sed senectus felis ac mauris. Dui eget dictum.Lorem ipsum dolor sit amet
                        consectetur. Posuere pretium arcu sed senectus felis ac mauris.
                    </p>
                </ul>
            </div>
        </div>

        <div class="ongoing-txt-btn-container">
            <div>
                <h3 class="num-four">4</h3>
                <h4>Angehendes Projekt</h4>
            </div>
            <p class="ongoing-txt">Are you currently working on a project?
                What is it about and what technologies are you using? Emphasise that good planning and execution are
                essential to the success of your work and to achieving great results.</p>
            <div class="btn-letstalk-container">
                <button class="btn-live-test">Let's talk</button>
            </div>
        </div>
    </div>

    <div class="my-work-arrow">
        <a href="#contact"><img src="../../../assets/img/arrow_right.svg" alt=""></a>
    </div>

    <!-- Reference -->
    <div class="title-references-container">
        <div class="my-work-title">
            <h2>Referenzen</h2>
        </div>
        <div class="references-container">
            <div class="ref-container">
                <div class="ref-txt">
                    "Michael is a reliable and friendly person. Work in a structured way and write a clear code. I
                    recommend him as a colleague."
                </div>
                <div class="middle-line"></div>
                <div class="collegue-container">
                    <h4 class="name-collegue">James Rugman</h4>
                    <span class="name-project">Project Join</span>
                </div>
            </div>

            <div class="ref-container">
                <div class="ref-txt">
                    "Michael is a reliable and friendly person. Work in a structured way and write a clear code. I
                    recommend him as a colleague."
                </div>
                <div class="middle-line"></div>
                <div class="collegue-container">
                    <h4 class="name-collegue">James Rugman</h4>
                    <span class="name-project">Project Join</span>
                </div>
            </div>

            <div class="ref-container">
                <div class="ref-txt">
                    "Michael is a reliable and friendly person. Work in a structured way and write a clear code. I
                    recommend him as a colleague."
                </div>
                <div class="middle-line"></div>
                <div class="collegue-container">
                    <h4 class="name-collegue">James Rugman</h4>
                    <span class="name-project">Project Join</span>
                </div>
            </div>
        </div>
    </div>
    <div class="my-work-arrow_2">
        <a href="#contact"><img src="../../../assets/img/arrow_right.svg" alt=""></a>
    </div>
</section>