<section id="contact">
    <div class="title-fomular-container">
        <div class="contact-formular-container">
            <div class="title-container">
                <h2>{{"CONTACTME" | translate}}</h2>
            </div>
            <div class="responsive-txt-container">
                <p class="ct-fffdfd mt-0"><span class="ct-d3ed97">{{"LETUSWORKTOGETHER"|translate}} </span> <br>
                    <br>
                    {{"ENCOURAGETEXT"|translate}}
                    <br>
                    <br>
                </p>
                <div class="dflex-acenter-jcend">
                    <img src="../../../assets/img/icon-email.svg" alt="">
                    <a class="ct-fffdfd fs-18" href="mailto:info@boban-jakovljevic.de">E-mail:
                        info&#64;boban-jakovljevic.de</a>
                </div>
                <br>
                <div class="dflex-acenter-jcend">
                    <img src="../../../assets/img/icon_phone.svg" alt="">
                    <a class="ct-fffdfd fs-18" href="tel:+1234567890">Tel: +1234567890</a>
                </div>
            </div>
            <div class="formular-container">

                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <!-- <label for="name"></label> -->
                    <label for="name"></label>
                    <input #name="ngModel" [(ngModel)]="contactData.name" minlength="3" type="text" name="name"
                        id="name" [placeholder]="namePlaceholder" required (focus)="onNameFocus()"
                        (blur)="onNameBlur(name)">
                    <span *ngIf="!name.valid && name.touched && !name.disabled" style="color: #FD2E12;">Please enter
                        a name</span>

                    <!-- <label for="email"></label> -->
                    <label for="email"></label>
                    <input #email="ngModel" [(ngModel)]="contactData.email" type="text" name="email" id="email"
                        placeholder="Your e-mail" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <span *ngIf="!email.valid && email.touched && !email.disabled" style="color: #FD2E12;">Please enter
                        an e-mail</span>

                    <!-- <label for="subject"></label> -->
                    <textarea #message="ngModel" [(ngModel)]="contactData.message" id="subject" name="subject"
                        placeholder="Your message.." required></textarea>
                    <span *ngIf="!message.valid && message.touched && !message.disabled" style="color: #FD2E12;">Please
                        enter a message</span>

                    <div class="check-privacy-container">
                        <input type="checkbox" name="" id="checkbox" required>
                        <div>I've read the <a class="ct-fffdfd pp-text" href="http://">privacy policy</a> and agree to
                            the processing of my data as outlined.</div>

                    </div>
                    <div class="send-btn-container">
                        <button class="send-btn">Send</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="info-container ta-end">
            <p class="ct-fffdfd mt-0"><span class="ct-d3ed97">{{"LETUSWORKTOGETHER"| translate}} </span> <br>
                <br>
                {{"ENCOURAGETEXT" | translate }}
                <br>
                <br>
            </p>
            <div class="dflex-acenter-jcend">
                <img src="../../../assets/img/icon-email.svg" alt="">
                <a class="ct-fffdfd fs-18" href="mailto:info@boban-jakovljevic.de">E-mail:
                    info&#64;boban-jakovljevic.de</a>
            </div>
            <br>
            <div class="dflex-acenter-jcend">
                <img src="../../../assets/img/icon_phone.svg" alt="">
                <a class="ct-fffdfd fs-18" href="tel:+1234567890">Tel: +1234567890</a>
            </div>
            <div  class="my-work-arrow_2">
                <img (click)="scrollTo()" class="cp" src="../../../assets/img/arrow_left.svg" alt="">
            </div>
            <footer class="legal-policy-copy-container">
                <a class="link" href="#">{{"LEGALNOTICE"|translate}}</a>
                <br>
                <a class="link" href="#">{{"PRIVACYPOLICY"|translate}}</a>
                <p class="copyright">&#169; Boban Jakovljevic 2025</p>
            </footer>
        </div>
    </div>
    <div class="arrow-responsive">
        <img (click)="scrollTo()" class="cp" src="../../../assets/img/arrow_up_resp.svg" alt="">
    </div>
    <div class="social-media-container-responsive">
        <div class="github cp"></div>
        <div class="linkedin cp"></div>
        <div class="email cp"></div>
    </div>
    <div class="rectangel">
        <div class="footer-responsive-container">
            <img src="../../../assets/img/logo_resp.png" alt="">
            <p class="copyright">&#169; Boban Jakovljevic 2025</p>
            <div class="footer-legal-privacy-responsive">
                <a class="link-resp" href="#">{{"LEGALNOTICE"|translate}}</a>
                <a class="link-resp" href="#">{{"PRIVACYPOLICY"|translate}}</a>
            </div>
        </div>
    </div>
</section>