<section id="contact">
    <div class="title-fomular-container">
        <div class="contact-formular-container">
            <div class="title-container">
                <h2>{{"CONTACTME" | translate}}</h2>
            </div>
            <div class="responsive-txt-container">
                <p class="ct-fffdfd mt-0"><span class="ct-d3ed97">{{"LETUSWORKTOGETHER"|translate}} </span> <br>
                    <br>
                    <span [innerHTML]="'ENCOURAGETEXT' | translate"></span>
                    <br>
                    <br>
                </p>
                <div class="dflex-acenter-jcend">
                    <img src="../../../assets/img/icon-email.svg" alt="">
                    <a class="ct-fffdfd fs-18" href="mailto:info@boban-jakovljevic.de">E-mail:
                        info&#64;boban-jakovljevic.de</a>
                </div>
                <br>
            </div>
            <div #animatedSection class="formular-container">
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <label for="name"></label>
                    <input #name="ngModel" [(ngModel)]="contactData.name" minlength="3" type="text" name="name"
                        id="name" [placeholder]="namePlaceholder" required (focus)="onNameFocus('name')"
                        (blur)="onNameBlur(name)" [ngClass]="{ 'input-error': !name.valid && name.touched }" />
                    <label class="label-email" for="email"></label>
                    <input #email="ngModel" [(ngModel)]="contactData.email" type="text" name="email" id="email"
                        [placeholder]="emailPlaceholder" required (blur)="onEmailBlur(email)"
                        (focus)="onNameFocus('email')" [ngClass]="{ 'input-error': !email.valid && email.touched }"
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <textarea #message="ngModel" [(ngModel)]="contactData.message" id="subject" name="subject"
                        [placeholder]="messagePlaceholder"
                        [ngClass]="{ 'input-error': !message.valid && message.touched }" (blur)="onMessageBlur(message)"
                        (focus)="onNameFocus('message')" required></textarea>
                    <div class="check-privacy-container">
                        <input class="cp" #checkbox="ngModel" [(ngModel)]="isChecked" type="checkbox" name="agree" id="Checkbox"
                            required>
                        <div routerLink="/datenschutz" [innerHTML]="'PRIVACY_TEXT' | translate:{ url: '/datenschutz' }"></div>
                    </div>
                    <div class="send-btn-container">
                        <span class="error-message" *ngIf="emailErrorMessage">{{ 'ENTEREMAIL' | translate }}</span>
                        <span *ngIf="!checkbox.valid && checkbox.touched && !checkbox.disabled" style="color: #FD2E12; margin-right: 16%; border: 1px solid red; padding: 4px 8px;
                            border-radius: 8px;">{{'CHECKBOX_REQUIRED' | translate }}
                        </span>
                        <button class="send-btn" [disabled]="contactForm.invalid || !isChecked">{{'SEND_BTN' | translate }}</button>
                    </div>
                    <span *ngIf="successMessage" class="form-success">{{ 'FORM_SUCCESS' | translate }}</span>
                </form>
            </div>
        </div>
        <div class="info-container ta-end">
            <p class="ct-fffdfd mt-0">
                <span class="ct-d3ed97">{{"LETUSWORKTOGETHER"| translate}}</span> <br>
                <br>
                <span [innerHTML]="'ENCOURAGETEXT' | translate"></span>
                <br>
                <br>
            </p>
            <div class="dflex-acenter-jcend">
                <img src="../../../assets/img/icon-email.svg" alt="">
                <a class="ct-fffdfd fs-18" href="mailto:info@boban-jakovljevic.de">E-mail:
                    info&#64;boban-jakovljevic.de</a>
            </div>
            <br>
            <div class="my-work-arrow_2">
                <img (click)="scrollTo()" class="cp slide-right" src="../../../assets/img/arrow_left.svg" alt="">
            </div>
            <app-footer></app-footer>
        </div>
    </div>
    <div class="arrow-responsive">
        <img (click)="scrollTo()" class="cp slide-bottom" src="../../../assets/img/arrow_up_resp.svg" alt="">
    </div>
    <div class="social-media-container-responsive">
        <div class="github cp"></div>
        <div class="linkedin cp"></div>
        <div class="email cp"></div>
    </div>
    <div class="rectangel">
        <div class="footer-responsive-container">
            <img src="../../../assets/img/logo_resp.png" alt="">
            <p class="copyright">&#169; Boban Jakovljevic 2025</p>
            <div class="footer-legal-privacy-responsive">
                <a class="link-resp cp" routerLink='/impressum'>{{"LEGALNOTICE"|translate}}</a>
                <a class="link-resp cp" routerLink='/datenschutz'>{{"PRIVACYPOLICY"|translate}}</a>
            </div>
        </div>
    </div>
</section>