section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 5%;
}

.contact-formular-container {
    display: flex;
    margin: auto;
}

.title-fomular-container {
    display: flex;
    height: 72%;
    width: 88%;
}

.title-container {
    >h2 {
        font-size: 3.5rem;
        width: max-content;
        color: transparent;
        -webkit-text-stroke: 2px #a5ff00;
        writing-mode: sideways-lr;
        margin-right: 25px;
    }
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: -16px;
}

.formular-container {
    max-width: 456px;
    opacity: 0;
    transform: translateY(20px) scale(0.95);

    &.visible {
        animation-name: fadeUpScale;
        animation-duration: 0.8s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; 
        animation-delay: 1s; 
    }
}

@keyframes fadeUpScale {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

input:required {
    height: 60px;
    border: 1px solid #B5E93B;
    background-color: transparent;
    color: #D3ED97;
    border-radius: 30px;
    padding-left: 24px;
}

input.input-error,
textarea:required.input-error {
    border: 1px solid #FD2E12;
}

input.input-error::placeholder,
textarea.input-error::placeholder {
    color: #FD2E12;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

textarea:required {
    height: 195px;
    border: 1px solid #B5E93B;
    background-color: transparent;
    color: #D3ED97;
    border-radius: 30px;
    padding-left: 24px;
    padding-top: 24px;
    resize: none;
}

input.message {
    height: 255px;
}

.check-privacy-container {
    display: flex;
    align-items: flex-start;
    margin: 0 1rem;

    >input {
        height: 18px;
        width: 18px;
        color: #FFFDFD;
        margin: 0 8px 0 0;
    }

    >div {
        font-size: 14px;
        font-family: 'Quantico';
        font-weight: 400;
        color: #B5E93B;
    }
}

.send-btn-container {
    text-align: end;

}

.send-btn {
    background-color: #B5E93B;
    width: 106px;
    height: 43px;
    border-radius: 30px;
    border: none;
    font-weight: 400;
    font-family: 'Quantico';
    color: #252525;

    &:disabled {
        background-color: #9E9D9D;
        color: #4A4A4A;
        cursor: default;
    }
}

.info-container {
    width: 417px;
    height: 665px;
    display: flex;
    flex-direction: column;
    margin-right: 49px;
    margin-left: 14px;

    >p {
        text-decoration-line: none;
    }
}

.ct-d3ed97 {
    color: #D3ED97;
}

.ct-fffdfd {
    color: #FFFDFD;
}

.ta-end {
    text-align: end;
}

.dflex-acenter-jcend {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    >img {
        margin-right: 8px;
    }

}

.copyright {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link {
    text-decoration: none;
    color: #FFFDFD;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
}

.fz-18 {
    font-size: 18px;
}

.my-work-arrow_2 {
    margin: 6% 0;
}

a:hover {
    color: #D3ED97;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
    color: #B5E93B;
}

.pp-text:active {
    text-decoration: underline;
    color: #FFFDFD;
}

.mt-0 {
    margin-top: 0;
}

.rectangel {
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, #B5E93B, #547800);
    position: absolute;
    right: 0;
    text-align: center;

    >img {
        width: 90px;
    }
}

.slide-right {
    -webkit-animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slide-bottom {
    -webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
    animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}

@media (min-width:1024px) {

    .info-container {
        display: block;
    }

    .social-media-container-responsive,
    .responsive-txt-container,
    .arrow-responsive,
    .footer-responsive-container {
        display: none;
    }
}

@media (max-width:1024px) {

    .my-work-arrow_2,
    .legal-police-copy-container {
        display: none;
    }

    .title-fomular-container {
        display: block;
        margin: auto;
    }

    .contact-formular-container {
        display: block;
    }

    section {
        display: block;
        align-items: normal;
        padding: 0 24px;
        position: static;
        height: auto;
        scroll-margin-top: 12vh;
    }

    .rectangel {
        width: 100%;
        height: auto;
        background: linear-gradient(180deg, #B5E93B, #547800);
        padding: 16px 0 32px;

    }

    .title-container {
        >h2 {
            writing-mode: horizontal-tb;
            margin-right: 0;
        }
    }

    .info-container {
        display: none;
    }

    .formular-container {
        max-width: none;
    }

    .social-media-container-responsive {
        display: flex;
        gap: 3rem;
        height: 11rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .github {
        background-image: url("../../../assets/img/git_btn_white.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        scale: 1.5;

        &:hover {
            background-image: url("../../../assets/img/git_btn_hover.svg");

        }
    }

    .linkedin {
        background-image: url("../../../assets/img/linkedin_btn_white.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        scale: 1.5;

        &:hover {
            background-image: url("../../../assets/img/linkedin_btn_hover.svg");

        }
    }

    .email {
        background-image: url("../../../assets/img/email_btn_white.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        scale: 1.5;

        &:hover {
            background-image: url("../../../assets/img/email_btn_hover.svg");

        }

    }

    .responsive-txt-container {
        display: block;
        text-align: left;
        margin-bottom: 1em;

        >p {
            text-decoration: none;
        }
    }

    .dflex-acenter-jcend {
        justify-content: normal;
    }

    .arrow-responsive {
        width: 100%;
        scale: 1.5;
        height: 155px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-responsive-container {
        color: #4A4A4A;

        >img {
            height: 80px;
            width: auto;
        }

        >div {
            gap: 32px;
            display: flex;
            justify-content: center;
        }
    }

    .copyright,
    .link-resp {
        color: #4A4A4A;
    }
}

@media (max-width:590px) {
    .title-container {
        >h2 {
            word-break: break-word;
            hyphens: auto;
            max-width: 220px;
        }
    }
}