<section class="why-me-section" id="whyMe">
    <div class="why-me-container">
        <div class="why-me-title">
            <h2>{{ 'MENUWHYME' | translate }}</h2>
        </div>
        <div #animatedSection class="why-me-txt-iam-local-container">
            <div class="txt-white"> {{'WRITESOMEINFO' | translate }} </div>
            <h3 class="responsive-iam-txt">{{ 'IM' | translate }}</h3>
            <div class="why-me-local-icon-container">
                <div class="location-icon animation-location">
                    <p class="txt-white">{{ 'LOCALE' | translate }}</p>
                </div>
                <div class="remote-icon animation-remote">
                    <p class="txt-white">{{ 'REMOTE' | translate }}</p>
                </div>
            </div>
            <div class="btn-container">
                <a href="#contact"><button>{{ 'CONTACTME' | translate }}</button></a>
            </div>
        </div>
    </div>
    <div class="why-me-arrow">
        <img (click)="scrollTo()" class="cp slide-left" src="../../../assets/img/arrow_right.svg" alt="">
    </div>
</section>