<section class="why-me-section" id="whyMe">
    <div class="why-me-container">
        <div class="why-me-title">
            <h2>Warum Ich</h2>
        </div>
        <div class="why-me-txt-iam-local-container">
            <div class="txt-white">Write some information about yourself that is IT related. Why are you passionate
                about coding?
                What is your source of inspiration for improving your programming skills? </div>
            <h3>Ich bin</h3>
            <div class="why-me-local-icon-container">
                <div class="location-icon">
                    <p class="txt-white">beheimatet in Frankfurt am Main</p>
                </div>
                <div class="remote-icon">
                    <p class="txt-white">offen für Remote-Arbeit</p>
                </div>
            </div>
            <button>Kontakt aufnehmen</button>
        </div>
    </div>
    <div class="why-me-arrow">
        <a href="#skills"><img src="../../../assets/img/arrow_right.svg" alt=""></a>
    </div>
</section>