section {
    background: linear-gradient(0.25turn, #000000, #2C2B2B, #0B0A0A, #323232, #0B0A0A);
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-margin-top: 12vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    // scroll-behavior: smooth;

    >div {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .portfolio-container {
        display: block;
        width: 100vw;
        height: fit-content;
        background: linear-gradient(0.50turn, #000000, #2C2B2B, #0B0A0A, #323232, #0B0A0A);
        position: absolute;
    }

}