<section>
  <div class="legal-notice-container">
    <h1 class="impressum">{{ 'LEGALNOTICE' | translate }}</h1>

    <p><strong>{{ 'INFOPARATGM' | translate }}</strong></p>
    <p>
      Boban Jakovljevic<br />
      63263 Neu-Isenburg<br />
      {{ 'COUNTRY' | translate }}
    </p>

    <p><strong>{{ 'CONTACT_TXT' | translate }}</strong><br />
      E-Mail: <a href="mailto:info@boban-jakovljevic.de">info&#64;boban-jakovljevic.de</a>
    </p>

    <p><strong>{{ 'RESPPARARSTV' | translate }}</strong><br />
      Boban Jakovljevic <br />
      63263 Neu-Isenburg
    </p>

  </div>

</section>