<section>
  <div class="legal-notice-container">
    <h1 class="impressum">{{ 'LEGALNOTICE' | translate }}</h1>

    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    <p>
      Boban Jakovljevic<br />
      63263 Neu-Isenburg<br />
      Deutschland
    </p>

    <p><strong>Kontakt:</strong><br />
      E-Mail: <a href="mailto:info@boban-jakovljevic.de">info&#64;boban-jakovljevic.de</a>
    </p>

    <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br />
      Boban Jakovljevic <br />
      63263 Neu-Isenburg
    </p>

  </div>

</section>