<section class="menubar-section">
    <a href="#landingpage"><img src="./../../../assets/img/logo.png" alt="logo"></a>
    <div #linksContainer class="links-container">
        <span (click)="closeBurgerMenu()" class="cp"><a href="#contact">Kontakt</a></span>
        <span (click)="closeBurgerMenu()" class="cp"><a href="#myWork">Projekte</a></span>
        <span (click)="closeBurgerMenu()" class="cp"><a href="#skills">Skills</a></span>
        <span (click)="closeBurgerMenu()" class="cp"><a href="#whyMe">Warum ich</a></span>
    </div>
    <div (click)="openBurgerMenu()" class="burger-menu-reponsive cp"></div>
</section>